/* Snap resources when displayed as cards. */
.snap-resource-card .section .activity.snap-resource .activityinstance div.filter-ally-wrapper {
    display: block;
}

.snap-resource-card .snap-resource .filter-ally-wrapper > a {
    display: block;
    float: left;
    width: 85%;
}
.snap-resource-card .snap-resource .filter-ally-wrapper .ally-actions {
    display: block;
    float: right;
    text-align: right;
    width: 15%;
}

.snap-resource-card .snap-resource .filter-ally-wrapper .ally-actions .ally-feedback img {
    height: 20px;
    width: 20px;
}

.snap-resource-card .snap-resource .filter-ally-wrapper .ally-actions .ally-download {
    /* The download icon has padding assymetric to the standard Ally icon. Squash it */
    margin-right: -3px;
}

.snap-resource-card .snap-resource .filter-ally-wrapper .ally-actions .ally-download img {
    height: 25px;
    width: 25px;
}

.snap-resource-card .snap-resource .filter-ally-wrapper .ally-actions a {
    left: 5px;
    padding: 5px;
    position: relative;
}

.snap-resource-card .snap-resource .filter-ally-wrapper .ally-actions > div {
    margin-top: 10px;
}

.snap-resource-card .snap-resource .filter-ally-wrapper .ally-actions > div:first-child {
    margin-top: 3px;
}
